@import '~@pxblue/colors/palette.scss';

.list {
    color: map-get($pxb-gray, 800) !important;
    white-space: nowrap;
}

[dir='rtl'] {
    button mat-icon,
    .scorecard-chevron {
        transform: scaleX(-1);
    }
    .tag-label {
        margin-right: 0;
        margin-left: 8px;
    }
    .red-score-card {
        margin-left: 16px;
        margin-right: 0;
    }
}

.scorecards {
    display: flex;
    padding: 8px 8px 0px 8px;
    justify-content: flex-start;
    flex-wrap: wrap;
    > * {
        margin-bottom: 8px;
    }
}

.toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
    background-color: map-get($pxb-blue, 500) !important;
    color: map-get($pxb-white, 50) !important;
    .user-menu {
        margin-left: 8px;

        &.rtl {
            margin-right: 8px;
            margin-left: 0;
        }
    }
}

mat-card.container-card {
    margin: 8px 8px;
    padding: 0;
}

.error {
    mat-list-item {
        color: map-get($pxb-red, 500) !important;
    }
}

.progress-icon {
    color: map-get($pxb-blue, 500);
}

pxb-score-card {
    width: 400px;

    .pxb-score-card-header-background {
        background-image: url('../assets/topology_40.png');
    }
    .mat-list-base {
        padding: 16px 0px !important;
    }
    .pxb-score-card-body .mat-list-item-content {
        height: 36px !important;
    }
    .mat-list-text {
        padding-left: 0px !important;
    }
    .mat-list-base .mat-list-item .mat-list-icon {
        min-width: 56px;
    }
    .pxb-info-list-item-title {
        font-weight: 600 !important;
    }
}
.red-score-card {
    margin-right: 16px;
    .pxb-score-card .pxb-score-card-header {
        background-color: map-get($pxb-red, 500);
    }
}

.test-background-image mat-toolbar.pxb-drawer-header {
    background-color: map-get($pxb-blue, 500);
    background-size: cover;
    color: white;
}

.test-background-image .pxb-drawer-header-background {
    background-image: url('../assets/topology_40.png');
}

.tag-label {
    margin-right: 8px;
}

.mat-example-container {
    display: flex;
    flex-wrap: wrap;
}

mat-card.ng-comp-card {
    padding: 16px;
    width: 100%;
    max-width: 400px;
    min-width: 350px;
    box-sizing: border-box;
}

.checkbox-demo-content {
    flex-direction: column;
    display: flex !important;
    mat-checkbox {
        margin: 8px 8px !important;
    }
}

.form-field-demo-content,
.select-demo-content,
.date-picker-demo-content {
    .mat-form-field {
        display: block !important;
        align-items: center;
        justify-content: center;
        margin-top: 8px;
        .mat-form-field-wrapper {
            width: 100%;
        }
    }
}

.radio-button-demo-content mat-radio-group {
    flex-direction: column;
    display: flex !important;
    mat-radio-button {
        margin: 8px 8px !important;
    }
}

.slide-toggle-demo-content {
    flex-direction: column;
    display: flex !important;
    mat-slide-toggle {
        margin: 8px 8px !important;
    }
}

.tab-demo-content {
    .mat-tab-label {
        width: 33.3%;
        min-width: unset;
    }
}

.button-demo-content {
    button {
        margin: 8px !important;
    }
}
