@import '~@brightlayer-ui/colors/palette.scss';

.test-background-image mat-toolbar.blui-drawer-header {
    background-color: map-get($blui-blue, 500);
    background-size: cover;
    color: white;
}

.test-background-image .blui-drawer-header-background {
    background-image: url('../assets/topology_40.png');
}

.user-menu {
    margin-left: 8px;

    &.rtl {
        margin-right: 8px;
        margin-left: 0;
    }
}
