<div class="showcase-container">
    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>
                Badge
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="story-title">Standard (default)</div>

            <p>
                <span matBadge="4" matBadgeOverlap="false">Basic</span>
            </p>
            <p>
                <span matBadge="4" matBadgeOverlap="false" matBadgeColor="primary">Primary</span>
            </p>
            <p>
                <span matBadge="" matBadgeOverlap="false" matBadgeColor="accent">Accent</span>
            </p>
            <p>
                <span matBadge="4" matBadgeOverlap="false" matBadgeColor="warn">Warn</span>
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="ng-comp-card">
        <mat-card-header>
            <div mat-card-title>
                Typography
            </div>
        </mat-card-header>
        <mat-card-content>
            <div style="padding: 24px">
                <div #matDisplay4 class="mat-display-4">
                    mat-display-4
                </div>
                <div #matDisplay3 class="mat-display-3">
                    mat-display-3
                </div>
                <div #matDisplay2 class="mat-display-2">
                    mat-display-2
                </div>
                <div #matDisplay1 class="mat-display-1">
                    mat-display-1
                </div>
                <!-- headline -->
                <div #matH1 class="mat-h1">
                    mat-h1
                </div>
                <div #matHeadline class="mat-headline">
                    mat-headline
                </div>
                <!-- title -->
                <div #matH2 class="mat-h2">
                    mat-h2
                </div>
                <div #matTitle class="mat-title">
                    mat-title
                </div>
                <!-- Subheading-2 -->
                <div #matH3 class="mat-h3">
                    mat-h3
                </div>
                <div #matSubheading2 class="mat-subheading-2">
                    mat-subheading-2
                </div>
                <!-- Subheading-1 -->
                <div #matH4 class="mat-h4">
                    mat-h4
                </div>
                <div #matSubheading1 class="mat-subheading-1">
                    mat-subheading-1
                </div>
                <!-- body-1 -->
                <div #matBody class="mat-body">
                    mat-body
                </div>
                <div #matBody1 class="mat-body-1">
                    mat-body-1
                </div>
                <!-- body-2 -->
                <div #matBodyStrong class="mat-body-strong">
                    mat-body-strong
                </div>
                <div #matBody2 class="mat-body-2">
                    mat-body-2
                </div>
                <!-- caption -->
                <div #matSmall class="mat-small">
                    mat-small
                </div>
                <div #matCaption class="mat-caption">
                    mat-caption
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
