<div class="settings-root template-root">
    <mat-card>
        <mat-card-header>Organization</mat-card-header>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <pxb-info-list-item iconAlign="center" divider="full">
                <mat-icon pxb-icon>business</mat-icon>
                <div pxb-title>Acme Steel Co.</div>
                <div pxb-subtitle>Organization Name</div>
            </pxb-info-list-item>
            <pxb-info-list-item iconAlign="center">
                <mat-icon pxb-icon>place</mat-icon>
                <div pxb-title>1000 Acme Way Gary, In 46402</div>
                <div pxb-subtitle>Address</div>
            </pxb-info-list-item>
        </mat-nav-list>
    </mat-card>

    <mat-card style="margin-top: 24px">
        <mat-card-header>Account</mat-card-header>
        <mat-divider></mat-divider>
        <mat-list>
            <pxb-info-list-item iconAlign="center" divider="full">
                <mat-icon pxb-icon>account_circle</mat-icon>
                <div pxb-title>Marshall Sutter</div>
                <div pxb-subtitle>Name</div>
            </pxb-info-list-item>
            <pxb-info-list-item iconAlign="center" divider="full">
                <mat-icon pxb-icon>account_circle</mat-icon>
                <div pxb-title>{{ nickname }}</div>
                <div pxb-subtitle>Nickname</div>
                <div pxb-right-content style="display: flex; justify-content: center;">
                    <mat-form-field appearance="outline" style="height: 72px">
                        <input matInput placeholder="Nickname" [(ngModel)]="nickname" />
                        <mat-label>Nickname</mat-label>
                    </mat-form-field>
                </div>
            </pxb-info-list-item>
            <pxb-info-list-item iconAlign="center" divider="full">
                <mat-icon pxb-icon>email</mat-icon>
                <div pxb-title>msutter@acmesteelco.com</div>
                <div pxb-subtitle>Email</div>
            </pxb-info-list-item>
            <pxb-info-list-item iconAlign="center" divider="full">
                <mat-icon pxb-icon>phone</mat-icon>
                <div pxb-title>+1 (724) 998-0938</div>
                <div pxb-subtitle>Phone Number</div>
            </pxb-info-list-item>
            <pxb-info-list-item iconAlign="center" divider="full">
                <mat-icon pxb-icon>lock</mat-icon>
                <div pxb-title>**************</div>
                <div pxb-subtitle>Change Password</div>
                <button pxb-right-content color="primary" mat-stroked-button>Change Password</button>
            </pxb-info-list-item>
            <pxb-info-list-item iconAlign="center" divider="full">
                <mat-icon pxb-icon>{{ notifications ? 'notifications' : 'notifications_off' }}</mat-icon>
                <div pxb-title>Email Notifications</div>
                <div pxb-subtitle>Notifications {{ notifications ? 'Enabled' : 'Disabled' }}</div>
                <mat-slide-toggle [(ngModel)]="notifications" pxb-right-content></mat-slide-toggle>
            </pxb-info-list-item>
            <pxb-info-list-item iconAlign="center" divider="full">
                <mat-icon pxb-icon>{{ textNotifications ? 'notifications' : 'notifications_off' }}</mat-icon>
                <div pxb-title>Text Notifications</div>
                <div pxb-subtitle>Notifications {{ textNotifications ? 'Enabled' : 'Disabled' }}</div>
                <mat-slide-toggle [(ngModel)]="textNotifications" pxb-right-content></mat-slide-toggle>
            </pxb-info-list-item>
            <pxb-info-list-item iconAlign="center" divider="full">
                <mat-icon pxb-icon>{{ autoLogout ? 'lock' : 'lock_open' }}</mat-icon>
                <div pxb-title>Automatic Logout</div>
                <div pxb-subtitle>{{ autoLogout ? 'Enabled (Recommended)' : 'Disabled' }}</div>
                <mat-slide-toggle [(ngModel)]="autoLogout" pxb-right-content></mat-slide-toggle>
            </pxb-info-list-item>
        </mat-list>
    </mat-card>
</div>
