<div class="dashboard-root">
    <div class="left-side">
        <mat-accordion class="data-panel">
            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title> Devices </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <mat-nav-list style="padding-top: 0">
                    <pxb-info-list-item divider="full" chevron="true" iconAlign="center">
                        <mat-icon pxb-icon class="invert-rtl">feedback</mat-icon>
                        <div pxb-title>Basement Sensor</div>
                        <div pxb-subtitle>Dwyer RJ382</div>
                    </pxb-info-list-item>
                    <pxb-info-list-item
                        divider="full"
                        chevron="true"
                        [statusColor]="colors.red[500]"
                        avatar="true"
                        iconAlign="center"
                    >
                        <mat-icon pxb-icon [style.color]="colors.white[50]" [style.backgroundColor]="colors.red[500]"
                            >alarms</mat-icon
                        >
                        <div pxb-title>Cabinet 5 Wire</div>
                        <div pxb-subtitle>Exampo Device Model</div>
                    </pxb-info-list-item>
                    <pxb-info-list-item divider="full" chevron="true" iconAlign="center">
                        <mat-icon pxb-icon>battery_full</mat-icon>
                        <div pxb-title>Battery</div>
                        <div pxb-subtitle>Battery Charger</div>
                    </pxb-info-list-item>
                    <pxb-info-list-item chevron="true" iconAlign="center">
                        <mat-icon pxb-icon>wifi</mat-icon>
                        <div pxb-title>WIRC Gateway</div>
                        <div pxb-subtitle>WIRC Gateway</div>
                    </pxb-info-list-item>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>

        <br />

        <mat-accordion class="data-panel">
            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title> Timeline </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <mat-nav-list style="padding-top: 0">
                    <pxb-info-list-item divider="full" chevron="true" iconAlign="center">
                        <mat-icon pxb-icon [style.color]="colors.blue[500]">info</mat-icon>
                        <div pxb-left-content>
                            <div>8:05 <span class="ampm">AM</span></div>
                            <div>09/23/19</div>
                        </div>
                        <div pxb-title>Connection Lost</div>
                    </pxb-info-list-item>
                    <pxb-info-list-item divider="full" chevron="true" iconAlign="center">
                        <mat-icon pxb-icon [style.color]="colors.blue[500]">info</mat-icon>
                        <div pxb-left-content>
                            <div>8:05 <span class="ampm">AM</span></div>
                            <div>09/23/19</div>
                        </div>
                        <div pxb-title>Back Online</div>
                    </pxb-info-list-item>
                    <pxb-info-list-item divider="full" chevron="true" iconAlign="center">
                        <mat-icon pxb-icon [style.color]="colors.blue[500]">info</mat-icon>
                        <div pxb-left-content>
                            <div>12:12<span class="ampm">PM</span></div>
                            <div>07/19/19</div>
                        </div>
                        <div pxb-title>Connection Lost</div>
                    </pxb-info-list-item>
                    <pxb-info-list-item
                        divider="full"
                        chevron="true"
                        [statusColor]="colors.red[500]"
                        avatar="true"
                        iconAlign="center"
                    >
                        <mat-icon pxb-icon [style.color]="colors.white[50]" [style.backgroundColor]="colors.red[500]"
                            >alarms</mat-icon
                        >
                        <div pxb-left-content>
                            <div>2:12<span class="ampm">PM</span></div>
                            <div>07/13/19</div>
                        </div>
                        <div pxb-title>Cabinet 5 Wire</div>
                        <div pxb-subtitle>Exampo Device Model</div>
                    </pxb-info-list-item>
                    <pxb-info-list-item chevron="true" iconAlign="center">
                        <mat-icon pxb-icon [style.color]="colors.blue[500]">info</mat-icon>
                        <div pxb-left-content>
                            <div>12:12<span class="ampm">PM</span></div>
                            <div>07/19/19</div>
                        </div>
                        <div pxb-title>Back Online</div>
                    </pxb-info-list-item>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="center">
        <pxb-score-card
            class="red-score-card"
            [headerTitle]="'Substation 3'"
            [headerSubtitle]="'High Humidity Alarm'"
            [headerInfo]="'4 Devices'"
        >
            <mat-icon pxb-action-items>more_vert</mat-icon>
            <mat-list pxb-body>
                <pxb-info-list-item dense="true" class="card-body-item">
                    <div pxb-title [style.color]="colors.red[500]">1 Alarm</div>
                    <mat-icon pxb-icon [style.color]="colors.red[500]">notifications</mat-icon>
                </pxb-info-list-item>
                <pxb-info-list-item dense="true" [style.color]="colors.blue[500]" class="card-body-item">
                    <div pxb-title [style.color]="colors.blue[500]">1 Event</div>
                    <mat-icon pxb-icon [style.color]="colors.blue[500]" class="invert-rtl">list_alt</mat-icon>
                </pxb-info-list-item>
                <pxb-info-list-item dense="true" class="card-body-item">
                    <div pxb-title style="font-weight: 400">Online</div>
                    <mat-icon pxb-icon>cloud</mat-icon>
                </pxb-info-list-item>
            </mat-list>
            <pxb-hero-banner pxb-badge>
                <pxb-hero [label]="'Temperature'" [value]="98" [units]="'°F'" [iconSize]="36">
                    <mat-icon svgIcon="px-icons:temp" pxb-primary></mat-icon>
                </pxb-hero>
                <pxb-hero [label]="'Humidity'" [value]="'54'" [units]="'%'" [iconSize]="36">
                    <mat-icon svgIcon="px-icons:moisture" pxb-primary [style.color]="colors.blue[300]"> </mat-icon>
                </pxb-hero>
            </pxb-hero-banner>
            <pxb-info-list-item hidePadding="true" dense="true" pxb-action-row mat-ripple>
                <div pxb-title>View Location</div>
                <mat-icon mat-list-icon pxb-right-content class="scorecard-chevron">chevron_right</mat-icon>
            </pxb-info-list-item>
        </pxb-score-card>

        <br />

        <pxb-score-card
            [headerTitle]="'Substation 3'"
            [headerSubtitle]="'Normal'"
            [headerInfo]="'4 Devices'"
            [badgeOffset]="-92"
        >
            <mat-icon pxb-action-items>more_vert</mat-icon>
            <mat-list pxb-body>
                <pxb-info-list-item dense="true" class="card-body-item">
                    <div pxb-title style="font-weight: 400">0 Alarms</div>
                    <mat-icon pxb-icon>notifications</mat-icon>
                </pxb-info-list-item>
                <pxb-info-list-item dense="true" class="card-body-item">
                    <div pxb-title [style.color]="colors.blue[500]">1 Event</div>
                    <mat-icon pxb-icon [style.color]="colors.blue[500]" class="invert-rtl">list_alt</mat-icon>
                </pxb-info-list-item>
                <pxb-info-list-item dense="true" class="card-body-item">
                    <div pxb-title style="font-weight: 400">Online</div>
                    <mat-icon pxb-icon>cloud</mat-icon>
                </pxb-info-list-item>
            </mat-list>
            <pxb-hero pxb-badge label="Health" value="98" units="%" [iconSize]="72">
                <mat-icon svgIcon="px-icons:grade_a" pxb-primary [style.color]="colors.green[500]"></mat-icon>
            </pxb-hero>
            <pxb-info-list-item hidePadding="true" dense="true" pxb-action-row mat-ripple>
                <div pxb-title>View Location</div>
                <mat-icon mat-list-icon pxb-right-content class="scorecard-chevron">chevron_right</mat-icon>
            </pxb-info-list-item>
        </pxb-score-card>
    </div>

    <br />

    <div class="right-side">
        <mat-card class="data-card">
            <mat-list style="padding: 0; height: 125px">
                <pxb-hero-banner [divider]="true">
                    <pxb-hero label="Healthy" value="96" units="/100" style="cursor: pointer" [iconSize]="36">
                        <mat-icon svgIcon="px-icons:grade_a" pxb-primary [style.color]="colors.green[500]"> </mat-icon>
                    </pxb-hero>

                    <pxb-hero label="Load">
                        <pie-progress class="progress-icon" percent="65" size="36" pxb-primary></pie-progress>
                        <pxb-channel-value value="65" units="%">
                            <mat-icon [style.color]="colors.red['500']" class="invert-rtl">trending_up</mat-icon>
                        </pxb-channel-value>
                    </pxb-hero>

                    <pxb-hero label="Estimated">
                        <mat-icon pxb-primary>timer</mat-icon>
                        <pxb-channel-value value="1" units="h"></pxb-channel-value>
                        <pxb-channel-value value="26" units="m"></pxb-channel-value>
                    </pxb-hero>

                    <pxb-hero label="Battery" value="Full">
                        <battery-progress class="progress-icon" percent="90" size="36" pxb-primary> </battery-progress>
                    </pxb-hero>
                </pxb-hero-banner>
            </mat-list>

            <mat-divider></mat-divider>

            <pxb-info-list-item
                divider="full"
                dense="true"
                [style.color]="colors.green[500]"
                [statusColor]="colors.green[500]"
                iconAlign="center"
            >
                <div pxb-title>Status</div>
                <mat-icon pxb-icon svgIcon="px-icons:leaf" [style.color]="colors.green[500]"></mat-icon>
                <pxb-channel-value pxb-right-content value="Online, ESS+"></pxb-channel-value>
            </pxb-info-list-item>

            <pxb-info-list-item divider="full" [avatar]="true">
                <div pxb-title>Input Voltage</div>
                <div pxb-subtitle>Phase A · Phase B · Phase C</div>
                <mat-icon
                    pxb-icon
                    svgIcon="px-icons:voltage_circled"
                    [style.backgroundColor]="colors.black[500]"
                    [style.color]="colors.white[50]"
                ></mat-icon>
                <div pxb-right-content>
                    <pxb-channel-value value="478" units="V"></pxb-channel-value>,
                    <pxb-channel-value value="479" units="V"></pxb-channel-value>,
                    <pxb-channel-value value="473" units="V"></pxb-channel-value>
                </div>
            </pxb-info-list-item>

            <pxb-info-list-item dense="true" iconAlign="center" divider="full">
                <div pxb-title>Temperature</div>
                <mat-icon pxb-icon svgIcon="px-icons:temp"></mat-icon>
                <div pxb-right-content>
                    <pxb-list-item-tag
                        class="tag-label"
                        label="Overheat"
                        [fontColor]="colors.white[50]"
                        [backgroundColor]="colors.red[500]"
                    ></pxb-list-item-tag>
                    <pxb-channel-value value="68" units="°F">
                        <mat-icon [style.color]="colors.red['500']">trending_up</mat-icon>
                    </pxb-channel-value>
                </div>
            </pxb-info-list-item>

            <pxb-info-list-item divider="full" dense="true" iconAlign="center">
                <div pxb-title>Output Voltage</div>
                <mat-icon pxb-icon svgIcon="px-icons:current_circled"></mat-icon>
                <div pxb-right-content>
                    <pxb-channel-value value="15" units="A"></pxb-channel-value>,
                    <pxb-channel-value value="15" units="A"></pxb-channel-value>,
                    <pxb-channel-value value="14.9" units="A"></pxb-channel-value>
                </div>
            </pxb-info-list-item>
        </mat-card>
    </div>
</div>
