/* You can add global styles to this file, and also import other style files */
@import '~@pxblue/angular-themes/theme.scss';
@import '~@pxblue/colors/palette.scss';

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

[dir='rtl'] .invert-rtl {
    transform: scaleX(-1);
}
